/* only desktops */
@media screen and (min-width: 992px) {
  #hero-area .contents .head-title {
    font-size: 40px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  
  .indigo {
    padding: 0;
    margin: 0;
  }
}

/* only small tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 0;
  }
  .navbar-brand img {
    margin: 5px 0;
    width: 75%;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .services-item {
    margin-bottom: 20px;
  }
}

/* tablets */
@media screen and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }

  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 0;
  }
  .navbar-brand img {
    margin: 5px 0;
    width: 75%;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .services-item {
    margin-bottom: 20px;
  }
}

/* only mobile */
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .section-sub {
    font-size: 16px;
  }
  .navbar-brand img {
    margin: 5px 0;
  }
 
  #hero-area .contents {
    padding: 100px 0px 60px 0px;
  }
  #hero-area .contents .head-title {
    font-size: 22px;
  }
  #hero-area .contents h5 {
    font-size: 32px;
  }
  #hero-area .contents p {
    font-size: 20px;
  }
  .services-item {
    margin-bottom: 20px;
  }
  .timeline li .line-title {
    line-height: 26px;
  }
  .timeline li:first-child i {
    margin: -12px -40px;
  }
  .contact-form-area {
    padding: 40px 0px;
  }
}

@media screen and (min-width: 801px) {
  .item {
    height: 85vh !important;
    width: auto !important;
  }
  .item img {
    height: 100% !important;
    width: auto !important;
  }
}

@media screen and (max-width: 800px) {
  .item {
    height: auto !important;
    width: 85vw !important;
  }
  .item img {
    max-height: auto !important;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 479px) {
  .testimonial .description {
    padding: 20px;
    font-size: 14px;
  }
  .testimonial .testimonial-profile {
    padding: 10px;
  }
  .testimonial .title {
    font-size: 16px;
  }
  .testimonial .post {
    font-size: 13px;
  }
}
